<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZSSS</key>
	<dict>
		<key>RW18L</key>
		<dict>
			<key>Name</key>
			<string>RW18L</string>
			<key>Length</key>
			<integer>3600</integer>
			<key>Heading</key>
			<integer>179</integer>
		</dict>
		<key>RW18R</key>
		<dict>
			<key>Name</key>
			<string>RW18R</string>
			<key>Length</key>
			<real>3600</real>
			<key>Heading</key>
			<integer>179</integer>
		</dict>
		<key>RW36L</key>
		<dict>
			<key>Name</key>
			<string>RW36L</string>
			<key>Length</key>
			<real>3600</real>
			<key>Heading</key>
			<string>361</string>
		</dict>
		<key>RW36R</key>
		<dict>
			<key>Name</key>
			<string>RW36R</string>
			<key>Length</key>
			<real>3600</real>
			<key>Heading</key>
			<integer>362</integer>
		</dict>
	</dict>
	<key>ZBAA</key>
	<dict>
		<key>RW18L</key>
		<dict>
			<key>Name</key>
			<string>RW18L</string>
			<key>Length</key>
			<integer>3600</integer>
			<key>Heading</key>
			<integer>179</integer>
		</dict>
		<key>RW18R</key>
		<dict>
			<key>Name</key>
			<string>RW18R</string>
			<key>Length</key>
			<real>3600</real>
			<key>Heading</key>
			<integer>179</integer>
		</dict>
		<key>RW36L</key>
		<dict>
			<key>Name</key>
			<string>RW36L</string>
			<key>Length</key>
			<real>3600</real>
			<key>Heading</key>
			<string>361</string>
		</dict>
		<key>RW36R</key>
		<dict>
			<key>Name</key>
			<string>RW36R</string>
			<key>Length</key>
			<real>3600</real>
			<key>Heading</key>
			<integer>362</integer>
		</dict>
	</dict>
</dict>
</plist>
