<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZSSSRW36L</key>
	<dict>
		<key>Name</key>
		<string>RW36L</string>
		<key>AirportName</key>
		<string>ZSSS</string>
		<key>isAirport</key>
		<true/>
		<key>Latitude</key>
		<real>31.1980555555556</real>
		<key>Longitude</key>
		<real>121.336388888889</real>
	</dict>
	<key>ZSSSCI36L</key>
	<dict>
		<key>Name</key>
		<string>CI 36L</string>
		<key>Latitude</key>
		<real>31.14805555555555</real>
		<key>Longitude</key>
		<real>121.323055555556</real>
	</dict>
	<key>ZSSSCI36R</key>
	<dict>
		<key>Name</key>
		<string>CI 36R</string>
		<key>Latitude</key>
		<real>31.1480555555556</real>
		<key>Longitude</key>
		<real>121.3377777777778</real>
	</dict>
	<key>ZSSSCI18L</key>
	<dict>
		<key>Name</key>
		<string>CI 18R</string>
		<key>Latitude</key>
		<real>31.3458333333333</real>
		<key>Longitude</key>
		<real>121.326944444444</real>
	</dict>
	<key>SS002</key>
	<dict>
		<key>Name</key>
		<string>SS002</string>
		<key>Latitude</key>
		<real>30.9705555555556</real>
		<key>Longitude</key>
		<real>121.348611111111</real>
	</dict>
	<key>SS003</key>
	<dict>
		<key>Name</key>
		<string>SS003</string>
		<key>Latitude</key>
		<real>30.8341666666667</real>
		<key>Longitude</key>
		<real>121.300555555556</real>
	</dict>
	<key>SS004</key>
	<dict>
		<key>Name</key>
		<string>SS004</string>
		<key>Latitude</key>
		<real>30.54833333333333</real>
		<key>Longitude</key>
		<real>121.2611111111111</real>
	</dict>
	<key>SS005</key>
	<dict>
		<key>Name</key>
		<string>SS005</string>
		<key>Latitude</key>
		<real>30.84527777777778</real>
		<key>Longitude</key>
		<real>121.3633333333333</real>
	</dict>
	<key>ZBAARW18R</key>
	<dict>
		<key>Name</key>
		<string>RW18R</string>
		<key>AirportName</key>
		<string>ZBAA</string>
		<key>isAirport</key>
		<true/>
		<key>Latitude</key>
		<real>40.09922222222222</real>
		<key>Longitude</key>
		<real>116.5688611111111</real>
	</dict>
	<key>(760)</key>
	<dict>
		<key>Name</key>
		<string>760</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Navigation</key>
		<string></string>
		<key>MaxHeight</key>
		<integer>0</integer>
		<key>MinHeight</key>
		<integer>760</integer>
	</dict>
	<key>AA261</key>
	<dict>
		<key>Name</key>
		<string>AA261</string>
		<key>Latitude</key>
		<real>39.98447222222222</real>
		<key>Longitude</key>
		<real>116.6121111111111</real>
		<key>Navigation</key>
		<string></string>
	</dict>
	<key>AA264</key>
	<dict>
		<key>Name</key>
		<string>AA264</string>
		<key>Latitude</key>
		<real>39.93755555555556</real>
		<key>Longitude</key>
		<real>116.6319722222222</real>
		<key>Navigation</key>
		<string></string>
	</dict>
	<key>AA265</key>
	<dict>
		<key>Name</key>
		<string>AA265</string>
		<key>Latitude</key>
		<real>39.92219444444444</real>
		<key>Longitude</key>
		<real>116.8865555555556</real>
		<key>Navigation</key>
		<string></string>
		<key>MaxHeight</key>
		<integer>8858</integer>
		<key>MinHeight</key>
		<integer>8858</integer>
		<key>Vmax</key>
		<integer>250</integer>
	</dict>
	<key>AA266</key>
	<dict>
		<key>Name</key>
		<string>AA266</string>
		<key>Latitude</key>
		<real>40.50636111111111</real>
		<key>Longitude</key>
		<real>117.022583333333</real>
		<key>Navigation</key>
		<string></string>
	</dict>
	<key>CDY</key>
	<dict>
		<key>Name</key>
		<string>CDY</string>
		<key>Latitude</key>
		<real>40.57688888888889</real>
		<key>Longitude</key>
		<real>117.2248611111111</real>
		<key>MinHeight</key>
		<real>12795</real>
	</dict>
	<key>AND</key>
	<dict>
		<key>Name</key>
		<string>AND</string>
		<key>Latitude</key>
		<real>30.255</real>
		<key>Longitude</key>
		<real>121.22</real>
	</dict>
	<key>DADAT</key>
	<dict>
		<key>Name</key>
		<string>DADAT</string>
		<key>Latitude</key>
		<real>30.45</real>
		<key>Longitude</key>
		<real>121.246666666667</real>
	</dict>
	<key>JTN35</key>
	<dict>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Name</key>
		<string></string>
		<key>Navigation</key>
		<string></string>
	</dict>
	<key>JTN30</key>
	<dict>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Name</key>
		<string></string>
		<key>Navigation</key>
		<string></string>
	</dict>
	<key>JTN</key>
	<dict>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Name</key>
		<string></string>
		<key>Navigation</key>
		<string></string>
	</dict>
</dict>
</plist>
